/* h1 */
h1 {
    /* border */
    /* padding: top right bottom left */
    /* em: 1 moji (if font-size is default 16 px, 1em=16px)*/
    padding: .75em 1em .75em 1.5em;
    /* border-left: size, one line, light purple  */
    border-left: 10px solid #CC99FF;
    border-bottom: 1px solid #CCCCCC; /* size, one line, light black */
}

.top-profile p{
 display:inline-block;
 vertical-align:middle;
}

#menu ul{
    margin: 0; 
    padding: 0; 
}

#menu li{
    /* delete dot */
    list-style: none;
    font-size:14px;  
    line-height:25px;
    /* align menu bar horizontally */
    display: inline;
}

#menu li a{
    /* delete underbar */
    text-decoration: none;
    /* align menu bar horizontally */
    display: inline;
}

#menu li a:hover{
    /* when hovering, back ground color changes to light purple */
    background-color: #CC99FF;
    /* when hovering, text color changes to white */
    color: #FFFFFF;
}